mixin footer()
	+b.FOOTER.footer.block-with-lazy
		.container
			.row.justify-content-between
				.col-md-auto
					+e.klemma Клемма | Магазин аккумуляторов © 2015-2020
				.col-md-auto
					+e.polite Политика конфиденциальности
