mixin sContact()
	// start sContact
	+b.sContact#sContact&attributes(attributes)
		.container
			.row.align-items-center
				.col-lg.order-lg-last
					+e.phone(href="tel:+73833225461")
						+icon('phone')
						span +7 (383) 322-54-61
				.col-lg-5
					+e.location
						+icon('place')
						+e.text
							p Новосибирск, ул. Добролюбова, 10/1, 1 этаж
							p Новосибирск, ул. Богдана Хмельницкого, 103 к.1
				.col-lg-4.order-lg-first
					+e.logo(href="#")
						img.lazy.res-i(src="#" data-src="img/logo-white.png" alt="")

	// end sContact