mixin topLine()
	// start topLine
	+b.topLine#topLine&attributes(attributes)
		.container
			.row.align-items-center.justify-content-between
				.col-auto
					+e.logo(href="#")
						img(src="img/@2x/logo.png", alt="")
				.col-auto
					+e.phone(href="tel:+73833225461")
						+icon('phone')
						span +7 (383) 322-54-61
	// end topLine