mixin sHelp()
	// start sHelp
	+b.sHelp#sHelp&attributes(attributes)
		.container
				
			.row
				+e.col.col-lg-auto
					+pic('consultant.png','','lazy','')
				.col-lg-6
					+b.section-title
						h5 Нужна помощь с выбором аккумулятора?
						p Свяжитесь с&nbsp;нами и&nbsp;мы&nbsp;ответим на&nbsp;все вопросы и&nbsp;поможем вам&nbsp;подобрать правильный аккумулятор.
				.col-lg
					+e.btn(href="#headerBlock") Хочу консультацию


mixin sHelp-2()
	// start sHelp
	+b.sHelp--2#sHelp&attributes(attributes)
		.container
				
			.row
				+e.col.col-lg-auto
					+pic('battery-2.png','','lazy','')
				.col-lg-6
					+b.section-title
						h5 Нужна помощь с выбором аккумулятора?
						p Свяжитесь с&nbsp;нами и&nbsp;мы&nbsp;ответим на&nbsp;все вопросы и&nbsp;поможем вам&nbsp;подобрать правильный аккумулятор.
				.col-lg
					+e.btn(href="#headerBlock") Хочу консультацию
	// end sHelp