// start .sDeliveryOrange
.sDeliveryOrange {
	position: relative;
	overflow: hidden;

	.section-title {
		h2 {
			@extend .h1;
			margin-bottom: rem(36);
		}
		h6 {
			margin-bottom: rem(50);
		}
	}

	&__item{
		margin-bottom: rem(40);

		.h6 {
			font-weight: 700;
			font-family: $mono;
		}
	}


	picture {
		position: absolute;
		right: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		z-index: -1;
		img {
			@media (max-width: 1400px) {
				height: 100%;
				max-width: none;
			}
			@media (min-width: 1400px) {
				width: 100%;
			}
			@include media-breakpoint-down(xl) {
				margin-right: 20%;
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}

} // end.sDeliveryOrange